#svg_path_6 {
    fill: #9400d3;
}

#svg_path_5 {
    fill: #4B0082;
}

#svg_path_4 {
    fill: #0000FF;
}

#svg_path_3 {
    fill: #00FF00;
}

#svg_path_2 {
    fill: #FFFF00;
}

#svg_path_1 {
    fill: #FF7F00;
}

#svg_path_0 {
    fill: #FF0000;
}
